.aboutContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 65px max-content;
  z-index: 100;
  overflow: none;
  background-image: linear-gradient(#00000080, #00000080),
    url("../../public/about-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.about {
  grid-column: 2/3;
  grid-row: 2/3;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4rem;
}
.aboutTitle {
  text-transform: uppercase;
  width: 350px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
}
.aboutInfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  width: 800px;
}
.aboutInfoItem {
  text-align: center;
  color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.border {
  display: block;
  width: 1px;
  height: "full";
  background-image: linear-gradient(#ffffff00, #fff, #ffffff00);
}
.aboutInfoItemNumber {
  font-family: "Bruno Ace", sans-serif;
  font-size: 54px;
}
.aboutInfoItemText {
  font-family: "Open Sans";
  text-transform: uppercase;
  width: 150px;
}
.button {
  position: absolute;
  bottom: 0;
  left: 15rem;
  padding: 50px;
  z-index: 100;
  background-color: #00000000;
}
.buttonText {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: 0.1em;
  color: #fff;
  width: 300px;
}
.arrow {
  object-fit: contain;
}
