.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 65px max-content;
  z-index: 100;
  overflow: none;
}
